{% extends 'main/base.html' %}
{% load staticfiles %}
{% block main %}
    <div class="container text-center">
        <div class="mb-2"></div>
        <div class="heading1">Freelancing Solutions</div>
        <div class="heading2 pt-3">
            Hire expert freelancers for any job, or
            <br>
            Find best job for you, Here!
        </div>
        <div class="btn-group my-5" role="group" aria-label="Buttons">
            {% if user.is_authenticated %}
                <a href="{% url 'employer:dashboard' %}">
            {% else %}
                <a href="{% url 'accounts:employer-register' %}">
            {% endif %}
            <button type="button" class="btn btn-rounded waves-effect button-fs"
                    style="background-color: var(--btn-bg-color); font-weight: bold"><i
                    class="fab fa-hire-a-helper fa-sm pr-2 button-fs"
                    aria-hidden="true"></i>
                I want to Hire
            </button>
            </a>
            {% if user.is_authenticated %}
                <a href="{% url 'freelancer:dashboard' %}">
            {% else %}
                <a href="{% url 'accounts:freelancer-register' %}">
            {% endif %}
            <button type="button" class="btn btn-rounded waves-effect button-fs"
                    style="background-color: var(--btn-bg-color); font-weight: bold"><i
                    class="fas fa-briefcase fa-sm pr-2  button-fs"
                    aria-hidden="true"></i>
                I want to Work
            </button>
            </a>
        </div>
    </div>
{% endblock %}