<div class="container">
    <div class="row float-right">
        <div class="pr-5 fa-2x">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="text-center rounded-circle" href="#">
                        <i class="fab fa-fw fa-facebook-f text-white"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-center rounded-circle" href="#">
                        <i class="fab fa-fw fa-twitter text-white"></i>
                    </a>
                </li>
                <li class="list-inline-item">
                    <a class="text-center rounded-circle" href="#">
                        <i class="fab fa-fw fa-linkedin-in text-white"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>