<div class="p-3 pr-4 fa-2x">
    <ul class="list-inline mb-0">
        <li class="list-inline-item">
            <a class="text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-facebook-f text-white" style="color:var(--main-bg-color);"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-twitter text-white" style="color:var(--main-bg-color);"></i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="text-center rounded-circle" href="#">
                <i class="fab fa-fw fa-linkedin-in text-white" style="color:var(--main-bg-color);"></i>
            </a>
        </li>
    </ul>
</div>